@import "./Variables.scss";
@media (max-width: 768px) {
  .cart-summary {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    display: block;
    padding: 10px;
  }

  .dark-mode .cart-summary {
    background-color: $color3;
  }

  .cart-summary .card-body {
    padding: 10px;
  }

  .cart-summary .btn {
    margin-top: 5px;
  }
}

.btn-custom {
  margin-top: 20px;
}
