$color1: #343e45;
$color2: #454e54;
$color3: #565e63;
$color4: #676e72;
$color5: #797e81;
$color6: #8a8d90;
$color7: #9b9d9f;

$light-bg: #fcfcfc;
$light-text: #000000;
$dark-bg: $color4;
$dark-text: #f5f5f5;

$primary-color: #007bff99;
$secondary-color: #6c757d;
$success-color: #28a745;
$warning-color: #ffc107;
$danger-color: #dc3545;
$info-color: #17a2b8;
